body {
  margin: initial;
}

.input-form {
  display: flex;
  align-items: center;
  gap: 12px;
  label {
    min-width: 120px;
  }
  &--row {
    width: fit-content;
    align-items: initial;
    flex-direction: column;
    gap: 6px;
  }
}
