body {
  margin: initial;
}

#root {
  width: 100%;
  // min-width: 1200px;
  // max-width: 1400px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

header {
  background: #ffffff24;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  z-index: 10;
}
.header {
  min-width: 1200px;
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
}
.container {
  min-width: 1200px;
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;

  &.main-page {
    max-width: initial;
    padding: initial;
  }
}
.footer {
  min-width: 1200px;
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
}

.MuiButton-root {
  height: 48px;
}

.input-form {
  display: flex;
  align-items: center;
  gap: 12px;
  label {
    min-width: 120px;
  }
  &--row {
    width: fit-content;
    align-items: initial;
    flex-direction: column;
    gap: 6px;
  }
}

.movie-poster {
  min-width: 240px;
  min-height: 340px;
  border-radius: 4px;
  background: #fff;

  .card {
    opacity: 0;
    transition: 0.3s;
  }
  &:hover .card {
    opacity: 1;
  }
}
